<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item label="Calculator">
    <action name="Execute">
      <command>galculator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Character Map">
    <action name="Execute">
      <command>gucharmap</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="File Archiver">
    <action name="Execute">
      <command>file-roller</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Leafpad">
    <action name="Execute">
      <command>leafpad</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Image viewer">
    <action name="Execute">
      <command>gpicview</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Disk utility">
    <action name="Execute">
      <command>gnome-disks</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Xpad">
    <action name="Execute">
      <command>xpad</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Pidgin Instant Messenger">
    <action name="Execute">
      <command>pidgin</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Sylpheed E-mail client">
    <action name="Execute">
      <command>sylpheed</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Transmission torrent client">
    <action name="Execute">
      <command>transmission-gtk</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="Abiword">
    <action name="Execute">
      <command>abiword</command>
    </action>
  </item>
  <item label="Gnumeric">
    <action name="Execute">
      <command>gnumeric</command>
    </action>
  </item>
  <item label="Evince">
    <action name="Execute">
      <command>evince</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Audacious">
    <action name="Execute">
      <command>audacious</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Gnome-MPlayer">
    <action name="Execute">
      <command>gnome-mplayer</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Xfburn">
    <action name="Execute">
      <command>xfburn</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Webcam">
    <action name="Execute">
      <command>guvcview</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Desktop Settings">
    <action name="Execute">
      <command>pcmanfm --desktop-pref</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <item label="Restart Openbox">
    <action name="Restart" />
  </item>
</menu>

<menu id="root-menu" label="Lubuntu">
  <separator label="Shortcuts" />
  <item label="PCMan File Manager" icon="/usr/share/icons/gnome/48x48/apps/system-file-manager.png">
    <action name="Execute">
      <command>lxsession-default filemanager</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Terminal" icon="/usr/share/pixmaps/lxterminal.png">
    <action name="Execute">
      <command>lxsession-default terminal</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Internet" icon="/usr/share/icons/lubuntu/apps/48/apps/web-browser.svg">
    <action name="Execute">
      <command>x-www-browser</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator label="Applications" />
  <menu id="apps-accessories-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-accessories.png"/>
  <menu id="apps-net-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-internet.png"/>
  <menu id="apps-office-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-office.png"/>
  <menu id="apps-multimedia-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-multimedia.png"/>
  <separator label="System" />
  <menu id="system-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-system.png" />
  <separator />
  <item label="Log Out">
    <action name="Execute">
      <command>lxsession-default quit</command>
    </action>
  </item>
</menu>

</openbox_menu>
