[Desktop Entry]
Name=identi.ca
Comment=Launching identi.ca
Icon=internet-web-browser
Exec=chromium-browser --app=https://identi.ca/
Type=Application
Categories=Network;
OnlyShowIn=LXDE;
