[Desktop Entry]
Type=Application
Name=Picom (X Compositor)
GenericName=X compositor
Comment=A X compositor
TryExec=picom
Exec=picom --dbus

OnlyShowIn=LXQt;
X-LXQt-Module=true
Name[cs]=Picom (kompozitor grafický X server)
GenericName[cs]=Kompozitor grafický X server
Comment[cs]=Kompozitor grafický X server
Name[da]=Picom (X-compositor)
Comment[da]=En X-compositor
Name[de]=Picom (X11 Kompositionsmanager)
GenericName[de]=X11 Kompositionsmanager
Comment[de]=Kompositionsmanager für X11
Name[el]=Picom (Συνθέτης X)
GenericName[el]=Συνθέτης X
Comment[el]=Ένας συνθέτης X
Name[es]=Picom (Gestor de composición para X)
GenericName[es]=Gestor de composición para X
Comment[es]=Un gestor de composición para X
Name[gl]=Picom (Xestor de composición para X)
GenericName[gl]=Xestor de composición para X
Comment[gl]=Un xestor de composición para X
Name[ja]=Picom (X コンポジター)
GenericName[ja]=X コンポジター
Comment[ja]=コンポジット機能(ウィンドウに特殊効果)をつけます
Name[lt]=Picom (X tvarkytojas)
GenericName[lt]=X tvarkytojas
Comment[lt]=X tvarkytojas
Name[pl]=Menedżer kompozycji Picom
GenericName[pl]=Menedżer kompozycji X11
Comment[pl]=Menedżer kompozycji dla X11
Name[pt]=Picom (Compositor X)
GenericName[pt]=Compositor X
Comment[pt]=Compositor para o servidor X
Name[tr]=Picom (X Bileşikleştirici)
GenericName[tr]=X bileşikleştirici
Comment[tr]=Bir X bileşiklikleştiricisi
