Source: lubuntu-default-settings
Section: x11
Priority: optional
Maintainer: Julien Lavergne <gilir@ubuntu.com>
Build-Depends: debhelper (>= 8.1.0~),
               intltool
Standards-Version: 3.8.3
Homepage: https://launchpad.net/~lubuntu-desktop
Vcs-Bzr: lp:lubuntu-default-settings
Vcs-Browser: http://bazaar.launchpad.net/~lubuntu-dev/lubuntu-default-settings/trunk/files

Package: lubuntu-default-settings
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, 
         lxsession (>= 0.4.1), 
         lubuntu-artwork (>= 0.4), 
         lubuntu-icon-theme,
         pcmanfm (>= 0.9.5),
         ttf-ubuntu-font-family,
         lightdm-gtk-greeter (>= 1.3.0)
Suggests: amixer,
            scrot,
            galculator,
            xscreensaver,
            dmz-cursor-theme
Provides: lightdm-gtk-greeter-config
Description: default settings for Lubuntu
 Various system settings tailored for Lubuntu.

Package: lxgames-default-session
Architecture: all
Depends: ${misc:Depends},
         lubuntu-default-settings
Description: Set default session to lxgames
 This package sets the default session to lxgames by default.

Package: lubuntu-default-session
Architecture: all
Depends: ${misc:Depends},
         lubuntu-default-settings
Description: Set default session to Lubuntu
 This package sets the default session to Lubuntu by default.
