<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item label="Calculator">
    <action name="Execute">
      <command>lxsession-default calculator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Character Map">
    <action name="Execute">
      <command>gucharmap</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="File Archiver">
    <action name="Execute">
      <command>lxsession-default archive</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Text Editor">
    <action name="Execute">
      <command>lxsession-default text_editor</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Image viewer">
    <action name="Execute">
      <command>lxsession-default images_display</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Disk utility">
    <action name="Execute">
      <command>lxsession-default disk_utility</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Notes">
    <action name="Execute">
      <command>lxsession-default notes</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Instant Messenger">
    <action name="Execute">
      <command>lxsession-default im1</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="E-mail client">
    <action name="Execute">
      <command>lxsession-default email</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Torrent client">
    <action name="Execute">
      <command>lxsession-default bittorent</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="Document Editor">
    <action name="Execute">
      <command>lxsession-default document</command>
    </action>
  </item>
  <item label="Spreadsheet Editor">
    <action name="Execute">
      <command>lxsession-default spreadsheet</command>
    </action>
  </item>
  <item label="PDF">
    <action name="Execute">
      <command>lxsession-default pdf_reader</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Audio player">
    <action name="Execute">
      <command>lxsession-default audio_player</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Video player">
    <action name="Execute">
      <command>lxsession-default video_player</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Burning utility">
    <action name="Execute">
      <command>lxsession-default burn</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Webcam">
    <action name="Execute">
      <command>lxsession-default webcam</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Desktop Settings">
    <action name="Execute">
      <command>lxsession-default desktop_manager settings</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <item label="Restart Openbox">
    <action name="Restart" />
  </item>
</menu>

<menu id="root-menu" label="Lubuntu">
  <separator label="Shortcuts" />
  <item label="File Manager" icon="/usr/share/icons/gnome/48x48/apps/system-file-manager.png">
    <action name="Execute">
      <command>lxsession-default file_manager</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Terminal" icon="/usr/share/pixmaps/lxterminal.png">
    <action name="Execute">
      <command>lxsession-default terminal</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Internet" icon="/usr/share/icons/gnome/48x48/apps/web-browser.png">
    <action name="Execute">
      <command>lxsession-default webbrowser</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator label="Applications" />
  <menu id="apps-accessories-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-accessories.png"/>
  <menu id="apps-net-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-internet.png"/>
  <menu id="apps-office-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-office.png"/>
  <menu id="apps-multimedia-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-multimedia.png"/>
  <separator label="System" />
  <menu id="system-menu" icon="/usr/share/icons/gnome/48x48/categories/applications-system.png" />
  <separator />
  <item label="Log Out">
    <action name="Execute">
      <command>lxsession-default quit</command>
    </action>
  </item>
</menu>

</openbox_menu>
